body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 929px;
}

#flex_container {
    display: flex;
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    background-color: rgb(226, 206, 206);
}

#menu {
    width: 20%;
    height: 100%;
    background-color: rgb(131, 131, 131);
}

#main_btn_line_upper {
    
}

#main_btn_line_base {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 70%;
    background-color: brown;
}