body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 929px;
}

#flex_container {
    display: flex;
    width: 100%;
    height: 100%;
}

#main {
    width: 80%;
    height: 100%;
    background-color: rgb(226, 206, 206);
}

#menu {
    width: 20%;
    height: 100%;
    background-color: rgb(131, 131, 131);
}

#main_btn_line {
    
    width: 80%;
    height: 10%;
    background-color: brown;
}